@import "/src/styles/normalize.scss";

.app {
	max-width: 78.125rem;
	margin: 10rem auto 0 auto;
}

.blue {
	background-color: #2CC1D5
}

.green {
	background-color: #24AE8D;
}

.red {
	background-color: #F46A5F;
}

.black {
	background-color: #333A44;
}